body{
    font-family: Arial, Helvetica, sans-serif;
}
.heading{
    font-size: 40px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}
.highlight{
    background-color:  #accae9;
    color:#2477c5;
    padding:5px 0px 5px
}
.container{
    display: flex;
}
.image{
    width: 30%;
}
.content{
    width: 70%;
}